<div class="navbar-filter">
  <div class="link-back">
  <%= link_to conversations_path, class: "filter-item-1 filter-link", style: "text-align: center" do %>
  🔙
  <% end %>
</div>
<div class="chat-name">
  <h5> Back to chat overview</h5>
</div>
</div>
 <div class="background-evaluation"></div>

<div class="page-content">
  <!-- <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% if @over_five %>
        <%= link_to "Show Previous", "?m=all", class: "show-prev" %>
      <% end %>
    </div>
  </div> -->

        <% @messages.each do |message| %>
          <div class="row messages">
          <div class="msg-structure">
            <div class="col-xs-2">
            <%= cl_image_tag message.user.picture, class: "avatar img-circle", secure: true if message.user == current_user %>
            </div>
            <div class="col-xs-10" id="message-width">
            <% if message.body %>
              <div class="<%= "me" if message.user == current_user && message.body %> message">
                <% user = User.find(message.user_id) %>
                <div class="content">
                  <div class="header">
                    <div class="name">
                      <strong><%= user.user_name %></strong>
                    </div>
                      <div = class="message-time">
                        <%= message.created_at.strftime("%I:%M") %>
                      </div>
                  </div>
                  <div class="body">
                    <br>
                    <p><%= message.body %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
            <div class="col-xs-2">
             <%= cl_image_tag message.user.picture, class: "avatar img-circle", secure: true if message.user != current_user && ( message && user ) != nil %>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <div class="form-input-wrapper-1">
    <div class="col-xs-12">
      <%= form_for [@conversation, @message], html: {class: "reply-form"} do |f| %>
        <%= f.text_area :body, class: "input-field" %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
        <%= f.submit "Send", class: "btn btn-primary", id: "input-button"%>
      <% end %>
    </div>
</div>
