<div class="container">
  <% if @checkin_valid %>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3>Your existing chats:</h3>
        <div class=”item”>
          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <div>
                <%= recipient.user_name %> <%= link_to "Message me!", conversation_messages_path(conversation)%>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3>Other Users checked in at <%= @checkin.location.name %></h3>
        <% @users.each do |user| %>
          <% if user.id != current_user.id && ## if in same location %>
            <div class=”item”>
              <%= user.user_name %> <%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" style="display: flex; align-items: center; flex-direction: column;">
        <h2 style="text-align: center;">You are not checked in anywhere. Please check in to chat.</h2>
          <br>
        <%= link_to "Check in now", checkins_new_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
