<div class="navbar-filter" style="display: flex; justify-content: space-around; align-items: center;">
  <% if @user == current_user %>

    <%= link_to edit_user_registration_path(@user), class: "filter-item-1 filter-link", style: "text-align: center" do %>
      <i class="far fa-edit"></i> Edit profile
    <% end %>

    <%= link_to destroy_user_session_path(@user), class: "filter-item-1 filter-link", id: "no-border", style: "text-align: center", method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Sign Out
    <% end %>

  <% else %>

  <!-- when you are not looking at your own profile -->

    <%= link_to conversations_path, class: "filter-item-1 filter-link", id: "no-border", style: "text-align: center" do %>
      <i class="fas fa-comments"></i> Message now
    <% end %>

  <% end %>
</div>

<div class="page-content">
<h2><%= @user.user_name %></h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @user.picture.file.nil? %>
          <div class="profile-picture">
            <h2>Picture unavailable </h2>
          </div>
        <% else %>
          <div class="profile-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @user.picture, secure: true %>')">
          </div>
        <% end %>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <div class="club-description user-description">
          <h5>About me</h5>
          <p> <%= @user.about_me %> </p>
        </div>
      </div>
    </div>
</div>





