<div class="navbar-bottom">
  <%= link_to "#", class: "bottom-item bottom-link", style: "text-align: center" do %>
    <i class='fas fa-home'></i>
  <% end %>
  <%= link_to "#", class: "bottom-item bottom-link", style: "text-align: center" do %>
    <i class="fas fa-users"></i>
  <% end %>
  <%= link_to "#", class: "bottom-item bottom-link", style: "text-align: center" do %>
    <i class="fas fa-map-marker"></i>
  <% end %>
  <%= link_to "#", class: "bottom-item bottom-link", style: "text-align: center" do %>
    <i class="fas fa-comments"></i>
  <% end %>
  <%= link_to "#", class: "bottom-item bottom-link", style: "text-align: center" do %>
    <i class="fas fa-user-circle"></i>
  <% end %>
</div>
