<div class="evaluation-container">
  <div class="evaluation-form">
    <h2><%= @checkin.address %></h2>
      <h3>Share with the Club.In comunity</h3>
    <%= simple_form_for(@checkin, url: checkins_update_path, method: :patch) do |f| %>
    <%= f.input :atmosphere_rating, :collection => (1..10).to_a %>
    <%= f.input :queue_rating, :collection => (1..10).to_a %>
    <%= f.submit "Share", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

