
<div class="checkin-container" id="checkin-container">
  <button id= "checkin-button" class="loading-state" disabled><h2>Loading your location, please wait...</h2></button>
</div>

  <%= simple_form_for(@checkin, url: checkins_create_path, method: :post) do |f| %>
  <%= f.input :latitude, as: :hidden, id: :"lat" %>
  <%= f.input :longitude, as: :hidden, id: :"lng" %>
  <%= f.input :location_id, as: :hidden, id: :"location_id" %>
  <% end %>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'getlocation' %>
<% end %>

