<div class="navbar-filter">
  <%= link_to locations_path, class: "filter-item filter-link", style: "text-align: center" do %>
  <i class="fas fa-map"></i> Map
  <% end %>
  <%= link_to index_atmosphere_path, class: "filter-item filter-link", style: "text-align: center" do %>
  <i class="fas fa-burn"></i> Hot
  <% end %>
  <%= link_to index_queue_path, class: "filter-item filter-link", id: "no-border", style: "text-align: center" do %>
  <i class="far fa-clock"></i> Queue
  <% end %>
</div>

<div class="page-content">
<h2>Best locations tonight</h2>

<div class="container">
  <% @locations.each do |location| %>
  <div class="row">
    <%= link_to location_path(location) do %>
    <div class="col-xs-4">
      <div class="club-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path location.photo%>')">
      </div>
    </div>
    <div class="col-xs-8" class="no-purple">
      <h5><%= location.name%></h5>
      <div class="row" id="no-border">
        <ul class="list-inline">
          <li><i class="fas fa-burn"></i></li>
          <li id="score"><%=location.calculate_average_atmosphere %></li>
          <li><i class="far fa-clock"></i></li>
          <li id="score"><%= location.calculate_average_queue %></li>
          <li><i class="fas fa-users"></i></li>
          <li id="score">
            <% if @checkin_friends.nil? %>
            <p>0</p>
            <% else %>
            <%= @checkin_friends.count %></li>
            <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
