<%= render 'shared/navbar-filter-atmosphere' %>


<div class="page-content">

<div class="container">
  <% @locations.each do |location| %>
  <div class="row">
    <%= link_to location_path(location) do %>
    <div class="col-xs-4">
      <div class="club-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path location.photo, secure: true%>')">
      </div>
    </div>
    <div class="col-xs-8" class="no-purple">
      <h5><%= location.name%></h5>
      <%= render 'shared/score', location: location %>
    </div>
    <%end%>
  </div>
  <% end %>
</div>
</div>
