<div class="navbar-filter">
  <%= link_to locations_path, class: "filter-item filter-link", style: "text-align: center" do %>
  <i class="fas fa-map"></i> Map
  <% end %>
  <%= link_to index_atmosphere_path, class: "filter-item filter-link", style: "text-align: center" do %>
  <i class="fas fa-burn"></i> Hot
  <% end %>
  <%= link_to index_queue_path, class: "filter-item filter-link", id: "no-border", style: "text-align: center" do %>
  <i class="far fa-clock"></i> Queue
  <% end %>
</div>

<div class="page-content">
  <h2><%= link_to @location.name, checkins_new_path(@location), style: "color: #606470" %> </h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="user_banner">
          <% @checkin_friends.each do |checkin| %>
          <div class="user-profile">
            <img src="<%= cl_image_path checkin.picture, width: 40, height: 40, crop: :fill %>" class="avatar">
            <div class="user-name"><%= checkin.user_name %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
       <div id="map"
       style= "height: 200px;"
       data-markers="<%= @markers.to_json %>">
     </div>
   </div>
 </div>
</div>
<div class="row">
  <ul class="list-inline" id="list-details">
    <li><i class="fas fa-burn"></i></li>
    <li id="score"><%= @location.calculate_average_atmosphere %></li>
    <li><i class="far fa-clock"></i></li>
    <li id="score"><%= @location.calculate_average_queue %></li>
    <li><i class="fas fa-users"></i></li>
    <li id="score"><%= @checkin_friends.count %></li>
  </ul>
</div>
<div class="row">
  <ul class="list-inline" id="list-details-2">
    <li><i class="fas fa-music"></i></li>
    <li id="score"><%= @location.music %></li>
    <li><i class="fas fa-euro-sign"></i></li>
    <li id="score"><%= @location.price_rating %></li>
    <li><img src="<%= image_path 'lgbt-flag.png' %>" class="flag"></li>
    <li id="score"><%= @location.LGBT_rating %></li>
  </ul>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="club-description">
      <h5>About the club</h5>
      <%= @location.description %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="address">
      <h5>Contact details</h5>
      <h6>Address: <%= @location.address %></h6>
      <h6>Phone: 030-123456</h6>
      <h6>Open: Friday to Sunday : 22.00 - 08.00</h6>
    </div>
  </div>
</div>
</div>
</div>
